:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  &:before {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    background-color: black;
    height: calc(100% - 13px);
    width: 1px;
  }
  .folder-header {
    position: relative;
    &:after {
      position: absolute;
      top: 10px;
      left: -20px;
      display: block;
      content: '';
      background-color: black;
      height: 1px;
      width: 15px;
    }
    .folder-icon {
      width: 20px;
    }
  }
}
