:host {
  position: relative;
  display: flex;
  flex-direction: column;
  &:after {
    position: absolute;
    top: 10px;
    left: -20px;
    display: block;
    content: '';
    background-color: black;
    height: 1px;
    width: 15px;
  }
  .file-icon {
    width: 20px;
  }
}
